@charset 'UTF-8';
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/* Global */
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #ff5050;
}
.container {
    display: none;
}
/* Intro */
#intro {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px !important;
    font-weight: lighter;
}

#intro p {
    margin-top: 0px;
}
/* Intro View */
.introView {
    background-color: #FF3535;
    position: absolute;
    width: 100%;
    height: 100%;
}
.introText {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 90px;
    font-weight: 700;
}

/* Header */
.headerCustom {
    background-color: #FF3535;
    text-align: center;
    display: none;
}
.headerCustomDiv1 {
    display: inline-block;
    margin-top: 10px;
}
.headerCustomDiv2 {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.headerCustomDiv2 ul li {
    display: inline-block;
}
.headerCustom h1 {
    color: #fff;
    font-family: 'PT Serif', serif;
    font-size: 37px;
}
.headerCustom h2 {
    font-family: "Source Sans Pro", sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 12px;
}
.headerCustom img {
    width: 30px;
    height: 30px;
}
.headerCustom a:visited, a:active, a:hover, a:link {
    text-decoration: none;
}
#avatar {
    width: 100px;
    height: 100px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
}
#myName {
    font-size: 30px !important; 
    color: white;
    text-align: center;
}
#myName > h1 > span {
    font-weight: 100 !important;
    font-family: "Roboto", sans-serif;
}
#myName h1 {
    margin: 10px 0 0 0;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

#myName h2, #myName ul{
    margin: 3px 0 0 0;
}
/* Skill bars */
.skillbar {
    vertical-align:middle;
    max-width: 150px;
    display: inline-block;
}

/* Control buttons */
#control {
    text-align: center;
    font-family: "Roboto", sans-serif;
}
#languageSkill p{
    margin-left: 20px;
    display: inline;
    font-size: 15px;
}
.btn-small {
    margin: 0 8px 0 8px;
}

/* Portfolio */
#portfolio, #events{
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 17px;
    font-weight: lighter;
    vertical-align: middle;
    display: none;
}
.moreBadge, .techBadge {
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: .3em;
    padding: 3px 3px;
    text-decoration: none;
    margin-right: 8px;
    cursor: pointer;
    font-weight: 200;
    font-size: 10px;
    color: white;
}

.card-panel {
    background-color: white;
}
.white-text {
    font-weight: 300;
    font-size: 13px;
    color: black !important;
}
.circle {
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 10px;
}
.moreBadge {
    background: #FF5050;
}
.techBadge {
    background: gray;
    cursor: default;
}
.moreBadge a {
    color: #fff;
}
.pTitle {
    font-weight: 700;
    font-size: 14px;
    color: #ff3232;
}
.pTitle > img {
    float: left;
}
/* Timeline */
.timelinewrap {
    margin-top: 35px;
    font-family: 'PT Sans', sans-serif;
}
.timeline {
    position: relative;
    /*margin-top: 20px;*/
    /*padding: 1em 0;*/
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    content: ' ';
    width: 5px;
    height: 100%;
    margin-left: 12px;
    background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
    background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
    background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
    background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
    z-index: 1;
}
.timeline li {
    padding: 0 0 20px 0;
}
.timeline li:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}
.direction-l {
    position: relative;
    width: 440px;
    float: left;
    text-align: right;
}
.direction-r {
    position: relative;
    /*width: 420px;*/
    float: left;
    text-align: left;
    padding-left: 45px;
}
.flag-wrapper {
    position: relative;
    display: inline-block;
}
.flag {
    position: relative;
    display: inline;
    background: #f8f8f8;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 500;
    text-align: left;
    font-size: 13px;
}

.flag a {
    text-decoration: none !important;
    font-weight: 500;
}
.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .15);
}
.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .15);
}
.direction-l .flag:before, .direction-r .flag:before {
    position: absolute;
    top: 50%;
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #ff5050;
    z-index: 10;
}
.direction-r .flag:before {
    left: -40px;
}
.direction-l .flag:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: #f8f8f8;
    border-width: 8px;
    pointer-events: none;
}
.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: #f8f8f8;
    border-width: 8px;
    pointer-events: none;
}
.time-wrapper {
    line-height: 1em;
    font-size: .66666em;
    color: #fa5050;
    vertical-align: middle;
}
.direction-l .time-wrapper {
    float: left;
}
.time {
    display: inline-block;
    padding: 4px 6px;
    background: #f8f8f8;
}
.desc {
    color: #000;
    font-size: 12px;
    font-weight: 500;
}
.direction-r .desc {
    margin-top: 5px;
}

@media screen and (max-width:660px) {
.timeline {
    width: 100%;
    padding: 0 0 1em;
}
.direction-l, .direction-r {
    float: none;
    width: 100%;
    text-align: left;
}
.flag-wrapper {
    text-align: left;
}
.flag {
    background: #fff;
    z-index: 15;
}
.direction-l .flag:before, .direction-r .flag:before {
    position: absolute;
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #ff5050;
    z-index: 10;
}
.direction-l .flag:after, .direction-r .flag:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    margin-left: 8px;
    border: solid transparent;
    border-bottom-color: #fff;
    border-width: 8px;
    pointer-events: none;
}
.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0;
    z-index: 14;
}
.direction-l .time-wrapper, .direction-r .time-wrapper {
    float: none;
}
.desc {
    position: relative;
    background: #f5f5f5;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    z-index: 15;
}
.direction-l .desc, .direction-r .desc {
    position: relative;
    z-index: 15;
}
}

footer {
    display: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #FF3535;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    line-height: 13px;
    margin-top: 20px;
    font-weight: 500;
}

footer a:hover {
    color: white;
}